.wrapper
    .banner
        .banner__container
            .banner__top
                .banner__wheel
                    img(src="./img/whell.png" alt="favbet")
                .banner__txt
                    .banner__txt-top Învârte roata
                    .banner__txt-bottom și câștigă!
            .banner__bottom
                .banner__koala
                    img(src="./img/koala.png" alt="favbet")



